.sidenav {
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
  }

  &__itemWrapper {
    width: 100%;
    max-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    background-color: #222;

    &--logo {
      background-color: #f00;
      padding: 6px;
    }

    &--disabled {
      border-top: 1px solid #000;
      background-color: #171717;
    }
  }

  &__item {
    display: block;
    width: 100%;
    max-width: 22px;

    &--logo {
      max-width: 50px;
    }

    &--disabled {
      filter:invert(63%) sepia(0%) saturate(322%) hue-rotate(162deg) brightness(85%) contrast(73%) ;
    }
  }

  &__text {
    max-width: 60px;
    padding: 20px 10px;
    font-size: 12px;
    color: #fff;
    border-top: 1px solid #000;
    background-color: #171717;
  }
}