.header {
  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #e1e1e1;
  }

  &__iconWrapper {
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    flex-grow: 1;
  }

  &__icon {
    width: 100%;
    max-width: 22px;
  }

  &__languageWrapper {
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 5px;
  }

  &__userWrapper {
    padding: 10px 35px 10px 20px;
    display: flex; 
    align-items: center;
    justify-content: center;
    
    @media (max-width: 600px) {
      width: 100%;
      padding: 10px 0;
    }

    @media (max-width: 480px) {
      flex-direction: column;
      text-align: center;
      gap:10px
    }
      
  }

  &__userImage {
    width: 100%;
    max-width: 45px;
  }

  &__userInfo {
    padding: 0 0 0 10px;
  }

  &__lastLogin {
    color: #989898;
  }

  &__userIcon {
    padding: 0 0 0 40px;

    @media (max-width: 600px) {
      padding: 0 0 0 10px;
    }
  }

  &__favoritesWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #ececec;
  }

  &__text {
    font-size: 20px;
    color: #000;
    padding: 0 0 0 30px;

    @media (max-width: 600px) {
      display: none;
    }
      
  }
  

  &__favorites {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 11px 10px;
    text-align: center;
    background-color: #d8d8d8;

    @media (max-width: 600px) {
      justify-content: center;
      width: 100%;
    }
  }

  &__add {
    font-family: "inter", sans-serif;
    color: #878787;
    font-size: 17px;

    @media (max-width: 600px) {
      font-size: 14px;
    }
  }

  &__heart {
    display: block;
  }
}