* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  &__content {
    flex: 1;
  }
}